<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layouts/admin}"
      lang="es">
<head>
    <title>Productos</title>
    <link rel="stylesheet" th:href="@{/css/pages/productos-admin.css}">
</head>
<body>
    <div layout:fragment="content">
        <h1>Lista de Productos</h1>

        <div class="table-container">
            <a th:href="@{/admin/productos/nuevo}" class="btn-new">
                <i class="fas fa-plus"></i> Nuevo Producto
            </a>

            <table class="table-productos">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Categoría</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${#numbers.formatDecimal(producto.precioVenta, 1, 'COMMA', 2, 'POINT')}"></td>
                        <td th:text="${availableStockByProductId[producto.id]}" ></td>
                        <td th:text="${producto.categoria != null ? producto.categoria.nombre : ''}"></td>
                        <td>
                            <a th:href="@{/admin/productos/editar/{id}(id=${producto.id})}" 
                               class="btn-action btn-edit">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a th:href="@{/admin/productos/eliminar/{id}(id=${producto.id})}" 
                               class="btn-action btn-delete"
                               onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?');">
                                <i class="fas fa-trash"></i> Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>