<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layouts/public}"
      lang="es">
<head>
    <title>Compra Confirmada</title>
    <link rel="stylesheet" th:href="@{/css/modules/carrito.css}">
</head>
<body>
    <div layout:fragment="content">
        <div class="container confirmation">
            <h2>¡Gracias por tu compra!</h2>
            <p>Tu pedido ha sido registrado correctamente.</p>
            <div class="buttons">
                <a th:href="@{/tienda/productos}" class="btn btn-primary">Volver a la tienda</a>
            </div>
        </div>
    </div>
</body>
</html>